<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.dvandenberg.mobiledeviceprogramming">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/dpad"
        android:label="@string/week_1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Week1"
            android:label="@string/title_activity_week1">
        </activity>
        <activity
            android:name=".Week2a"
            android:label="@string/title_activity_week2a">
        </activity>
        <activity
            android:name=".Week3"
            android:label="@string/week_3">
        </activity>
        <activity
            android:name=".Week5"
            android:label="@string/week5">
        </activity>
        <activity
            android:name=".LauncherActivity"
            android:label="Mobile Device Programming">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Week2b"
            android:label="@string/week2b" />
        <activity
            android:name=".Week4"
            android:label="@string/week4" />
    </application>

</manifest>